@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");
.home {
  font-family: "Sora", sans-serif;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.headline{
    padding-bottom: 40px;
}
.moving-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: textMove 40s linear infinite;
  white-space: nowrap;
}
.moving-text img {
  width: 40px;
  animation: rotate 2s linear infinite;
  margin: 0 10px;
}
.moving-text div {
  font-size: 30px;
  color: transparent;
  text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 1px black, 0 0 2px black, 0 0 2px black;
  padding: 0 10px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes  textMove {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
 
}

.bg-video{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 1px;
}
.bg-video iframe{
  width: 100%;
  height: 100vh;
  border: none;
  object-fit: cover; 
}
.heading-container{
 display: flex;
 justify-content: space-between;
}
.heading{
  width: 40%;
  padding-top: 190px;
}
.heading h2{
  padding-left: 5%;
  font-size: 53.76px;
  margin-bottom: 0;
}
.heading img{
  position: absolute;
  width: 100%;
  padding-top: 75px;
  z-index: -1;
  
}
.sub-heading{
  padding-top: 220px;
  width: 60%;
  padding-right: 5%;
}
.sub-heading :first-child{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
}
.sub-heading :nth-child(2){
  font-size: 18px;
  color: #838383;
  padding-bottom: 70px;
}
.sub-heading button{
  background-color: black;
  border: 1px solid black;
  color: white;
  font-family: "Sora",sans-serif;
  padding: 15px 110px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 14px;
  gap: 5px;
}
.sub-heading button:hover{
  background-color: white;
  color: black;
}
